version: '3.8'

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg18
    container_name: timescaledb
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=postgres
    volumes:
      - timescaledb_data:/var/lib/postgresql/data
    networks:
      - quant-net
    restart: always

  kafka:
      image: apache/kafka:3.7.0
      container_name: kafka
      ports:
        - "9092:9092"
      environment:
        - KAFKA_NODE_ID=1
        - KAFKA_PROCESS_ROLES=broker,controller
        - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
        - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093

        - KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
        - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
        - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT

        - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
        - KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
        - KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
      volumes:
        - kafka_data:/var/lib/kafka/data
      networks:
        - quant-net
      restart: always

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local-kraft
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
    depends_on:
      - kafka
    networks:
      - quant-net

volumes:
  timescaledb_data:
  kafka_data:

networks:
  quant-net:
    driver: bridge